<h1>Oden Simulator</h1>
<h3>Where you can enjoy this Japanese wintertime delicacy -- anywhere, any season.</h3>

<div class="container">
    <div class="row">
        <div class="col-4">
            <h4>Ingredient Types</h4>
            <ul>
                {{#each types}}
                <li><button type="button" class="type-btn btn btn-primary btn-sm" data-id="{{id}}"><i class="fas fa-sign-in-alt"></i></button> {{name}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="col-4">
            <h4>Ready to Eat</h4>
            <ul>
                {{#each ingredients}}
                {{#unless devoured}}
                <li><button type="button" class="eat-btn btn btn-success btn-sm" data-id="{{id}}"><i class="fas fa-cookie-bite"></i></button> {{name}}</li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-4">
            <h4>Already Eaten</h4>
            <ul>
                {{#each ingredients}}
                {{#if devoured}}
                <li><button type="button" class="delete-btn btn btn-danger btn-sm" data-id="{{id}}"><i class="fas fa-times"></i></button> {{name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>